/* ---------------------------------------------------------media query------------------------------------------- */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and  (max-width: 1200px) {
  .your_job .boxes .box{
    padding: 0 3%;
  }
  .subscribe_section .content form .input-group{
    padding: 6% 8% 2%;
  }
  .subscribe_section .content form .input-group .icon_subscripe {
    left:72%

  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and  (max-width: 1023.98px) {
  
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767.98px) {
 
}

 