/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
    - Font Family
   	- Box sizing
    -scroll bar
    - custom var  
    - form content
    - 
# Base
	- pre loader
	- button up
  -navbar
	- home page
    -- hero section
    -- printer in success
    -- service section
    -- counter section
    -- search service section
    --  your job  section
    -- success story section
    -- subscribe section
    -- blog section
  - companies page
    -- choicse us page
    -- printer in success
    -- counter section
    -- package section
    -- search service section
    -- available jobs
    -- integrated platform
  - recruitment page
    --  your job section
    -- printer in success
    -- choicse us page
    -- available jobs
    --app section
  - contact page
  - common anawser page
	- footer
## Layouts 
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-white: #fff;
  --color-primary: #1e866f;
  --color-secound: #c7c7c7;
  --color-text: #1d1d26;
  --color-pargraph: #a7a5a5;
}

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Somar-Medium.otf");
}
@font-face {
  font-family: "semi-bold";
  src: url("../fonts/alfont_com_Somar-SemiBold.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: rtl;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0px;
}
p {
  margin-bottom: 0;
  // word-break: break-all;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-primary);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

/* scroll bar */
//custom var

.text {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "meduim";
}
.parg {
  font-size: 1rem;
  color: var(--color-pargraph);
  font-family: "regular";
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-primary);
    border-radius: 0px;
    font-size: 1.5rem;
    font-family: "medium";

    text-align: center;
    color: var(--color-white);
    position: relative;
    z-index: 10;
    padding: 1%;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }
  .second {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-white);
    font-size: 1.5rem;
    font-family: "medium";
    text-align: center;
    color: var(--color-primary);
    border: 1px solid transparent;
    i {
    }
  }
}
.card_platform {
  background-color: #f9f9f9;
  border-bottom: 3px solid var(--color-text);
  border-radius: 5px;
  padding: 7% 3%;
  position: relative;

  h4 {
    color: var(--color-text);
    font-size: 1.2rem;
    font-family: "bold";
  }
  p {
    color: var(--color-secound);
    font-size: 1rem;
    font-family: "regular";
  }
}
.header_section {
  position: relative;
  padding: 9% 0;
  .text {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    h1 {
      color: var(--color-white);
      font-size: 2.3rem;
      font-family: "bold";
    }
  }
}
.main_title {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 1.2rem;
    color: var(--color-primary);
    font-family: "semi-bold";
    position: relative;
    &::after {
      content: "";
      color: var(--color-primary);
      background-color: var(--color-primary);
      position: absolute;
      width: 20px;
      height: 2px;
      bottom: 0;
      left: 30%;
    }
  }
  h2 {
    font-size: 2.2rem;
    font-family: "bold";
    color: var(--color-text);
  }
  p {
    font-size: 1.1rem;
    font-family: "regular";
    color: var(--color-pargraph);
    padding: 2% 19%;
    text-align: center;
  }
}
//form content
.input-group {
  position: relative;
  margin-bottom: 3%;
  .icon_form {
    position: absolute;
    left: 0.3rem;
    top: 58%;
  }
}
.form-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "medium";
}

.form-control {
  border-radius: 2px;
  padding-inline-start: 4%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";
  &:focus {
    box-shadow: none !important;
    border-color: var(--color-pargraph) !important;
  }
  &::placeholder {
    color: var(--color-text);
    font-family: "regular" !important;
    font-size: 0.9rem;
  }
}
//selectpicker
.input-group .bootstrap-select.form-control .dropdown-toggle{
color: var(--color-text);
text-align: left;
background-color: transparent;
border-color: #ced4da;
}
.bootstrap-select .dropdown-toggle .filter-option{
  text-align: right !important;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle{
  outline: unset !important;
  outline-offset: unset !important;
  outline-style: hidden !important;
}
.bootstrap-select .dropdown-menu{
  text-align: right;
}
.bootstrap-select.show-tick .dropdown-menu li a span.text{
  margin-right: 10px !important;
  font-size: 1.1rem;
  font-family: 'medium';
  color: var(--color-pargraph);
}
//selectpicker

textarea {
  height: 150px;
}
textarea.form-control {
  padding-left: 2%;
}

.form-select {
  border-radius: 8px !important;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: #f5f5f5;
  color: var(--iconcolor);
  background-position: right;
  position: relative;
  &:focus {
    box-shadow: unset !important;
  }
}

.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus,
.btn-light:active:focus {
  box-shadow: none;
}
.form-check {
  .form-check-input {
    float: right;
    margin-left: 5px;
    &:checked {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
  .form-check-label {
    font-size: 1rem;
    font-family: "regular";
    color: var(--color-text);
  }
}
input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";

  &::placeholder {
    content: "";
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}

/* delete arrow from input number */

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* delete arrow from input number */

/* hamburger icon */
.navbar .navbar-toggler {
  cursor: pointer;
  /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
  border: 1px solid var(--color-primary);
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px 7px !important;
  outline: none !important;
}
.navbar .navbar-toggler-icon {
  transition: all 0.2s ease-out;
  transform: rotate(0 deg);
}
.navbar .navbar-toggler-icon,
.navbar .navbar-toggler-icon::before,
.navbar .navbar-toggler-icon::after {
  width: 1em !important;
  height: 2px !important;
  /* padding: 0 0 0 0.15em !important; */
  display: flex;
  background-image: none;
  background-color: var(--color-primary);
  position: absolute !important;
  transition: all 0.2s ease-in;
}
.navbar .navbar-toggler-icon::before {
  content: "";
  display: block;
  top: -0.3em;
}
.navbar .navbar-toggler-icon::after {
  content: "";
  display: block;
  bottom: -0.3em;
}
.navbar .navbar-toggler:focus {
  /* outline: none !important; */
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--color-primary) !important;
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px !important;
}
.active-hamburger .navbar-toggler-icon {
  transition: 0.2s;
  transform: rotate(405deg); /*45+360 */
}
.active-hamburger .navbar-toggler-icon::before {
  top: 0;
  opacity: 0;
}
.active-hamburger .navbar-toggler-icon::after {
  transition: 0.2s;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
}
/* hamburger icon */
/* start preloader */

#preloader {
  background-image: url(../image/Spin-2.1s-191px.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */

/* start button up */

#button {
  display: inline-block;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-fourth);
  animation: move-toggs 3s linear infinite;

  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--color-primary);
  }

  i {
    color: var(--color-text);
    margin: auto;
    font-size: 22px;
    transition: 0.3s all;
  }

  &:hover {
    background-color: var(--color-text);
    cursor: pointer;
    i {
      color: var(--color-white);
    }
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move-toggs {
  0% {
    bottom: 40px;
  }

  25% {
    bottom: 20px;
  }

  50% {
    bottom: 10px;
  }

  75% {
    bottom: 20px;
  }

  100% {
    bottom: 40px;
  }
}

/* finish button up  */

//start nav bar

.navbar {
  background-color: var(--color-white);
  transition: 0.25s all ease-in-out;

  .navbar-brand {
    width: 130px;
    height: 121px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      width: 66%;
      justify-content: center;
      .nav-item {
        transition: 0.35s all ease-in;
        position: relative;
        .nav-link {
          font-size: 1.2rem;
          font-family: "regular";
          color: var(--color-text);
          padding-left: 1rem;
          padding-right: 1rem;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.25s all;
          &:hover {
            color: var(--color-secound);
          }
        }
      }

      .nav-item.active {
        .nav-link {
          color: var(--color-primary);
          font-family: "bold";
          transition: 0.25s all ease-in-out;
          &:hover {
            color: var(--color-secound);
          }
        }
      }
    }
    .inquery_btn {
      width: 17%;
      margin-top: 0;
      .first {
        padding: 3% 4%;
        font-size: 1rem;
        font-family: "regular";
        border-radius: 0;
      }
    }
    .dropdown {
      .dropdown-toggle {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        font-family: "regular";
        color: var(--color-text);
      }
      .dropdown-menu {
        min-width: 4rem;
        .dropdown-item {
          font-family: "regular";
          font-size: 0.8rem;
          color: var(--color-text);
        }
      }
    }
  }
}
.navbar.change {
  background-color: rgba($color: #10222e, $alpha: 0.8);
  .navbar-nav {
    width: 100%;
    .nav-item {
      position: relative;

      .nav-link {
        padding-right: 1.8rem;
        padding-left: 1.8rem;
      }
    }
  }
}
//finish navbar

//start hero sec
.hero_section {
  position: relative;
  padding: 5% 0;
  .ball1 {
    position: absolute;
    top: 73px;
    right: 43%;
    width: fit-content;
    img {
      width: 80%;
      height: auto;
    }
  }
  .ball2 {
    position: absolute;
    bottom: 118px;
    right: 25%;
    width: fit-content;
    img {
      width: 2%;
      height: auto;
      width: 80%; 
    }
  }
  .content {
    text-align: start;
    padding-inline-end: 5%;
    h6 {
      color: #707070;
      font-family: "regular";
      font-size: 1rem;
      span {
        color: var(--color-primary);
      }
    }
    h1 {
      font-size: 3.3rem;
      color: var(--color-text);
      font-family: "regular";
      padding: 2% 0 4%;
    }
    p {
      font-size: 1.3rem;
      color: var(--color-pargraph);
      font-family: "regular";
      padding-inline-end: 10%;
    }
    .button {
      justify-content: start;
      .btn {
        width: 50%;
      }
    }
  }
  .img {
    width: 100%;
    height: 350px;
    padding-inline-start: 5%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
//finish hero sec

//printer in success
.printer_section {
  padding: 5% 0;
  .swiper {
    width: 100%;
    height: 200px;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0 2%;
      .img {
        width: 90px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

//printer in success
//service section
.service_section {
  padding: 8% 0 5%;
  background-image: url(../image/back.png);

  background-size: cover;
  .main_title {
    padding: 2% 25%;
  }
  .content {
    h4 {
      font-size: 1.5rem;
      font-family: "bold";
      color: var(--color-text);
    }
    p {
      font-size: 1rem;
      font-family: "regular";
      color: var(--color-pargraph);
      padding: 2% 19%;
      text-align: center;
    }
  }
}

//service section

// counter section
.counter_section {
  padding: 2% 0;
  margin: 4% 0;
  .boxes {
    .box {
      flex-direction: column;
      text-align: center;
      .counter {
        font-size: 2.5rem;
        font-family: "medium";
        color: var(--color-white);
      }
      .head-categ {
        font-size: 1.21rem;
        font-family: "regular";
        color: var(--color-white);
      }
    }
  }
}
//counter section
//search service section
.service_search {
  .main_title {
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      padding: 2% 0;
      position: relative;
      padding-inline-end: 10%;
      text-align: start;
    }
  }
  .title {
    position: relative;
    font-size: 1.1rem;
    font-family: "regular";
    color: var(--color-pargraph);
    padding-inline-start: 10%;
    &::before {
      content: "";
      position: absolute;
      height: 50px;
      width: 2px;
      top: 21px;
      right: 25px;
      background-color: var(--color-primary);
      color: var(--color-primary);
    }
  }
  ul {
    padding: 2% 0;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 4%;
    li {
      font-size: 1rem;
      font-family: "bold";
      position: relative;
      color: var(--color-text);
      width: 45%;
      margin-bottom: 2%;
      position: relative;
      &::before {
        content: url(../image/ok.png);
        position: absolute;
        top: 0;
        right: -30px;
      }
    }
  }
  .button {
    justify-content: flex-start;
    align-items: flex-start;
    .first {
      margin-inline-end: 3%;
      width: 40%;
    }
    .second {
    }
  }
  .img {
    width: 100%;
    height: 530px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

//search service section
// your job section
.your_job {
  padding: 5% 0;
  .img {
    width: 100%;
    height: 530px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .main_title {
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      padding: 2% 0;
      position: relative;
      padding-inline-end: 10%;
      text-align: start;
    }
  }
  .boxes {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h4 {
        font-size: 1rem;
        font-family: "regular";
        color: var(--color-text);
      }
      p {
        font-size: 0.8rem;
        font-family: "regular";
        color: var(--color-pargraph);
        text-align: center;
      }
    }
  }
  .button {
    justify-content: flex-start;
  }
  .app_button {
    a {
      margin-top: 5%;
      .img {
        width: 100%;
      }
    }
  }
}
// your job section
//success story section
.success_story {
  padding: 5% 0;
  .main_title {
    padding: 1% 25%;
    margin-bottom: 5%;
  }
  .swiper {
    width: 100%;
    height: 350px;
    .swiper-slide {
      height: 250px;
      text-align: center;
      font-size: 18px;
      background: transparent;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: start;
      align-items: flex-start;
      padding: 2%;
      flex-direction: column;
      border: 1px solid #cfcfcf;
      border-radius: 10px;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;

        width: 100%;
        .text {
          display: flex;
          justify-content: start;
          align-items: flex-start;
          flex-direction: row;
          width: 80%;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          .desc {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-inline-start: 3%;
            h6 {
              font-size: 0.9rem;
              font-family: "medium";
              color: var(--color-text);
            }
            span {
              font-size: 0.6rem;
              font-family: "light";
              color: var(--color-pargraph);
            }
          }
        }
        .img {
          width: 30px;
          height: 20px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      p {
        font-size: 1rem;
        font-family: "regular";
        color: var(--color-text);
        text-align: start;
        padding: 10% 0;
      }
    }
    .swiper-slide-next {
      box-shadow: -15px 30px 70px rgba($color: #abafc7, $alpha: 0.19);
      background-color: var(--color-white);
      border: 1px solid transparent;
      transform: scale(1.09);
      transition: 0.25s all ease-in-out;
    }
    .swiper-pagination-bullet-active {
      color: var(--color-primary);
      background-color: var(--color-primary);
    }
  }
}

//success story section
//subscribe section
.subscribe_section {
  background-color: #377cb1;
  padding: 5% 0;
  .content {
    padding: 5%;
    border: 5px solid #508ebe;
    .main_title {
      h2,
      p {
        color: var(--color-white);
      }
    }
    form {
      margin-top: 3%;
      .input-group {
        padding: 6% 16% 2%;
        position: relative;
        .form-control {
          // color: white;
          border-color: var(--color-white);
          border-left-color: transparent;
          &::placeholder {
            color: var(--color-white);
          }
        }
        .btn {
          font-family: "regular";
          color: var(--color-white);
          border: 1px solid var(--color-white);
          background-color: #98b0a9;
          width: 15%;
          transition: 0.25s all ease-in-out;
          &:hover {
            background-color: white;
            color: #98b0a9;
          }
        }
        .icon_subscripe {
          position: absolute;
          right: 162px;
          top: 55%;
          i {
            color: var(--color-white);
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
//subscribe section

//footer
footer {
  padding: 5% 0;
  .logo_footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    img {
      width: 190px;
      height: 160px;
    }
    .disc {
      font-size: 1rem;
      font-family: "regular";
      color: var(--color-pargraph);
      text-align: start;
    }
  }

  .important_links {
    padding-top: 42%;
    .adress {
      font-size: 1.3rem;
      color: var(--color-text);
      font-family: "bold";
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding-top: 5%;
      li {
        margin-bottom: 10%;
        a {
          color: var(--color-text);
          font-family: "regular";
          font-size: 1rem;
        }
      }
    }
  }
  .app {
    padding-top: 20%;
    .app_button {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 5%;
      a {
        margin-bottom: 3%;
        img {
          width: 45%;
        }
      }
    }
  }
}
.lower_footer {
  border-top: 1px solid var(--color-pargraph);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 5%;
  .slug {
    text-align: start;
    width: 50%;
    p {
      font-size: 1rem;
      font-family: "regular";
      color: var(--color-pargraph);
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    li {
      padding-inline-start: 1%;
      a {
        i {
          color: var(--color-text);
          transition: 0.25s all ease-in-out;
        }
        &:hover {
          i {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
//footer
//companies page
//choise section
.choise_section {
  padding: 5% 0;
  .first_slide {
    padding-inline-start: 6%;
    .main_title {
      justify-content: start;
      align-items: flex-start;
      text-align: start;
      h2 {
        strong {
          color: var(--color-primary);
        }
      }
    }
    ul {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 5%;
      li {
        color: var(--color-text);
        font-size: 1rem;
        font-family: "medium";
        position: relative;
        padding-inline-start: 5%;
        margin-bottom: 3%;
        &::before {
          content: url(../image/pills.png);
          position: absolute;
          top: 7px;
          right: 0;
        }
        p {
          color: var(--color-pargraph);
          font-size: 0.8rem;
          font-family: "regular";
        }
      }
    }
    .start_now {
      margin: 4% 0;
      padding: 2%;
      background-color: rgba($color: #a7a5a5, $alpha: 0.07);
      .button {
        width: 35%;
        margin-top: 0;
        .btn {
          width: 100%;
          background-color: #29ae90;
          border-radius: 10px;
        }
      }
    }
  }
  .img {
    width: 100%;
    height: 450px;
    padding-inline-start: 5%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
//choise section
//package section
.package_section {
  background-image: url(../image/back.png);
  padding: 8% 0 5%;
  background-size: cover;
  position: relative;
  .ball1 {
    position: absolute;
    top: 24%;
    right: 31%;
    width: 2%;
  }
  .ball2 {
    position: absolute;
    top: 47%;
    right: 31%;
    width: 4%;
  }
  .ball3 {
    position: absolute;
    top: 84%;
    right: 31%;
    width: 2%;
  }
  .ball4 {
    position: absolute;
    top: 41%;
    left: 37%;
    width: 3%;
  }
  .ball5 {
    position: absolute;
    top: 81%;
    left: 37%;
    width: 2%;
  }
  .boxes {
    padding: 4% 0;
    .package_box {
      background-color: var(--color-white);
      padding: 2%;
      border-radius: 5px;
      border: 1px solid #f4f5f7;
      transition: 0.25s all ease-in-out;
      width: 16.875rem;
      &:hover {
        border: 1px solid var(--color-primary);
      }
      .head {
        border-bottom: 1px solid #f4f5f7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 1% 0 2%;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        h4 {
          font-size: 1rem;
          font-family: "bold";
          color: var(--color-text);
          padding: 8% 0 2%;
        }
        h6 {
          font-size: 1rem;
          font-family: "regular";
          color: var(--color-pargraph);
        }
      }
      .body {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        flex-direction: column;
        padding: 4% 2%;
        li {
          border: 1px solid #f4f5f7;
          padding: 4%;
          font-size: 0.8rem;
          color: #414058;
          font-family: "regular";
          position: relative;
          padding-inline-start: 14%;
          margin-bottom: 3%;
          &::before {
            content: url(../image/ok2.png);
            top: 8px;
            right: 3px;
            position: absolute;
          }
        }
      }
      .footer {
        display: flex;
        position: relative;
        margin: 1% 0 3%;
        a {
          background-color: var(--color-white);
          border: 1px solid var(--color-primary);
          width: 100%;
          color: var(--color-text);
          font-family: "regular";
          transition: 0.25s all ease-in-out;
          &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
          }
        }
        span {
          background-color: #41dab9;
          border: 1px solid var(--color-primary);
          width: 36px;
          height: 38px;
          position: absolute;
          right: 0;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          i {
            color: var(--color-primary);
          }
        }
      }
    }

    .package_box.active {
      border: 1px solid var(--color-primary);
      a {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }
  }
}
//package section
//available jobs
.available_jobs {
  padding: 5% 0;
  .boxes {
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: 1px dashed #004c7c;
      border-radius: 8px;
      margin-inline-end: 4%;
      margin-bottom: 4%;
      width: 230px;
      padding: 1%;
      transition: 0.25s all ease-in-out;
      &:hover {
        background-color: #29ae90;
        border: 1px solid transparent;
        h4 {
          color: var(--color-white);
        }
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h4 {
        font-size: 1rem;
        color: var(--color-text);
        font-family: "bold";
        padding-inline-start: 3%;
      }
    }
  }
}
//available jobs
//integrated platform
.integrated_platform {
  padding: 5% 0;
  position: relative;
  .ball1 {
    position: absolute;
    top: 35%;
    right: 31%;
    width: 2%;
  }
  .ball2 {
    position: absolute;
    top: 62%;
    right: 31%;
    width: 2%;
  }
  .ball3 {
    position: absolute;
    top: 56%;
    left: 31%;
    width: 2%;
  }
  .ball4 {
    position: absolute;
    top: 81%;
    left: 37%;
    width: 2%;
  }
  .main_title {
    padding: 2% 24%;
  }
  .first_side {
    .card_platform {
      margin-bottom: 45%;
      .traingle_icon {
        position: absolute;
        top: 0;
        left: -26px;
        i {
          color: #f9f9f9;
          font-size: 2.5rem;
        }
      }
      &:first-child {
        margin-top: 5%;
      }
    }
  }
  .second_side {
    .card_platform {
      margin-top: 45%;
      .traingle_icon {
        position: absolute;
        top: 0;
        right: -26px;
        i {
          color: #f9f9f9;
          font-size: 2.5rem;
        }
      }
    }
  }
  .collection_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    div {
      position: relative;
      margin-bottom: 55%;
      img {
        width: 5.375rem;
        height: 5.375rem;
        border-radius: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        color: #1a140e;
        background-color: #1a140e;
        top: 80px;
        right: 48%;
        width: 3px;
        height: 100px;
      }
    }
  }
}

//integrated platform
//recruitment page
//app section
.app_section {
  padding: 5% 0;
  background-image: url(../image/back3.png);
  background-size: cover;
  .main_title {
    padding: 1% 24%;
  }
  .card_mob {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30%;
    .img {
      width: 50%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0px 10px 15px rgba($color: #5c5c5c, $alpha: 0.1);
      border-radius: 50%;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      padding-inline-start: 3%;
      h6 {
        font-size: 1rem;
        color: var(--color-text);
        font-family: "bold";
      }
      p {
        font-size: 1rem;
        color: var(--color-pargraph);
        font-family: "regular";
      }
    }
  }
  .img_mob {
    img {
      width: 100%;
      height: 100%;
      margin: 5% 0;
    }
  }
  .app_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 13% 0;
    a {
      img {
        width: 83%;
      }
    }
  }
}

//app section
//recruitment page

//contact page

.contact_section {
  .main_title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    h2 {
      padding-inline-end: 48%;
    }
    p {
      padding: 0;
      padding-inline-end: 35%;
      text-align: start;
    }
  }
  form {
    padding-top: 12%;
    .input-group {
      margin-bottom: 2%;
      .form-control {
        border-radius: 8px;
      }
    }
    .button {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}
.information {
  .cards {
    background-color: var(--color-primary);
    transform: translateY(100px);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    .card_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 33%;
      padding: 3% 2%;
      transition: 0.25s all ease-in-out;
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: 117px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        position: absolute;
        left: -4px;
        top: 34px;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      &:hover {
        span {
          background-color: var(--color-white);
          i {
            color: var(--color-primary);
          }
        }
        .text {
          a,
          p {
            color: var(--color-white);
          }
        }
      }
      span {
        background-color: rgba($color: #081420, $alpha: 0.15);
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
        transition: 0.25s all ease-in-out;
        i {
          color: var(--color-white);
          font-size: 1.2rem;
          transition: 0.25s all ease-in-out;
        }
      }
      .text {
        padding-top: 5%;
        text-align: center;
        a,
        p {
          color: #ffeccc;
          font-size: 1rem;
          font-family: "bold";
        }
      }
    }
  }
}
iframe {
  width: 100%;
  height: 450px;
  pointer-events: none;
}
.gm-style .directions-card {
  opacity: 0 !important;
}
//contact page
//common anawser
.common_anwser {
  padding: 5% 0;
  .accordion {
    .accordion-item {
      margin: 5% 0;
      border: 1px solid var(--color-pargraph);
      .accordion-header {
        //header text
        font-size: 2.2rem;
        font-family: "bold";
        color: var(--color-text);
        .accordion-button {
          color: var(--color-text);
          background-color: var(--color-white);
          &::after {
            margin-right: auto;
            margin-left: unset;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3E%3C/svg%3E");

          }
        }
        .accordion-button.collapsed {
          color: var(--color-text);
          background-color: var(--color-white);
          &::after {
            margin-right: auto;
            margin-left: unset;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          // text inside Accordion
          font-size: 1.2rem;
          font-family: "regular";
          color: var(--color-pargraph);
          padding: 2% 1%;
        }
      }
    }
  }
}
//common anawser page
//privacy page
.privacy_section{
  :is(h1,h2,h3,h4,h5,h6){
    color: var(--color-text);
    font-size: '2.2rem';
    font-family: 'bold';
    text-align: center;
  }
  p{
    color: var(--color-pargraph);
    font-size: 1.2rem;
    font-family: 'regular';
    position: relative;
    padding: 2% 0;
    padding-inline-start: 3%;

    &::before{
      content: url(../image/privacy.png);
      position: absolute;
      right: 0;
      top: 28px;

    }
  }
}
//privacy page//error page
.error_section {
  padding: 7% 0 3%;
  text-align: center;
  .img {
    width: 100%;
    height: 250px;
    img {
      height: 100%;
    }
  }
  h1 {
    font-size: 3rem;
    color: var(--color-text);
    font-family: "bold";
    margin: 6% 0 3%;
  }
  .button {
    margin: 5% 0 1%;
    .btn {
      width: 40%;
      font-size: 1.2rem;
    }
  }
}
// register form
.register_form{
  padding: 3% 0;
  position: relative;
  .main_title{
    text-align: start;
    justify-content: start;
    align-items: flex-start;
    h2{
    font-size: 1.5rem;
    }
    p{
      padding: 0;
      padding-inline-end: 10%;
      text-align: start;
    }
  }
  form{
    padding: 4% 0;
    padding-inline-end: 3%;
  .form-check{
    margin-top: 4%;
  }
  .button{
    width: 100%;
    .btn{
      width: 100%;
    }
  }
  }
  .img{
    width: fit-content;
    height: auto;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

// register form