/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
    - Font Family
   	- Box sizing
    -scroll bar
    - custom var  
    - form content
    - 
# Base
	- pre loader
	- button up
  -navbar
	- home page
    -- hero section
    -- printer in success
    -- service section
    -- counter section
    -- search service section
    -- our service section
   
    -- team section
    -- printer in sucess section
    -- blog section
  - about us page
  - service page
  - blog page
  - contact page
  - inquery page
	- footer
## Layouts 
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-white: #fff;
  --color-primary: #1e866f;
  --color-secound: #c7c7c7;
  --color-text: #1d1d26;
  --color-pargraph: #a7a5a5;
}

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Somar-Medium.otf");
}
@font-face {
  font-family: "semi-bold";
  src: url("../fonts/alfont_com_Somar-SemiBold.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: rtl;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0px;
}
p {
  margin-bottom: 0;
  // word-break: break-all;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-primary);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

/* scroll bar */
//custom var

.text {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "meduim";
}
.parg {
  font-size: 1rem;
  color: var(--color-pargraph);
  font-family: "regular";
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-primary);
    border-radius: 0px;
    font-size: 1.5rem;
    font-family: "medium";

    text-align: center;
    color: var(--color-white);
    position: relative;
    z-index: 10;
    padding: 1%;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-white);
    border-radius: 10px;
    font-size: 0.6rem;
    font-family: "meduim";
    line-height: 1;
    text-align: center;
    color: var(--color-text);
    position: relative;
    z-index: 10;
    padding: 2% 1%;
    border: 1px solid var(--color-primary);
    &::before {
      position: absolute;
      content: "";
      background: var(--color-primary);
      width: 0;
      height: 100%;
      border-radius: 10px;
      color: var(--color-text);
      z-index: -1;
      transition: 0.2s all ease-in-out;
    }
  }
  .second:hover::before {
    width: 100%;
  }
}

.main_title {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 1.2rem;
    color: var(--color-primary);
    font-family: "semi-bold";
    position: relative;
    &::after {
      content: "";
      color: var(--color-primary);
      background-color: var(--color-primary);
      position: absolute;
      width: 20px;
      height: 2px;
      bottom: 0;
      left: 30%;
    }
  }
  h2 {
    font-size: 2.2rem;
    font-family: "bold";
    color: var(--color-text);
  }
  p {
    font-size: 1.1rem;
    font-family: "regular";
    color: var(--color-pargraph);
    padding: 2% 19%;
    text-align: center;
  }
}
//form content
.input-group {
  position: relative;
  margin-bottom: 3%;
  .icon_form {
    position: absolute;
    left: 0.3rem;
    top: 58%;
  }
}
.form-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "meduim";
}

.form-control {
  border-radius: 2px;
  padding-inline-start: 4%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";
  &:focus {
    box-shadow: none !important;
    border-color: var(--color-pargraph) !important;
  }
  &::placeholder {
    color: var(--color-text);
    font-family: "regular" !important;
    font-size: 0.9rem;
  }
}
textarea {
  height: 150px;
}
textarea.form-control {
  padding-left: 2%;
}

.form-select {
  border-radius: 8px !important;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: #f5f5f5;
  color: var(--iconcolor);
  background-position: right;
  position: relative;
  &:focus {
    box-shadow: unset !important;
  }
}

.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";

  &::placeholder {
    content: "";
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}

/* delete arrow from input number */

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* delete arrow from input number */
/

/* hamburger icon */
.navbar .navbar-toggler {
  cursor: pointer;
  /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
  border: 1px solid var(--color-white);
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px 7px !important;
  outline: none !important;
}
.navbar .navbar-toggler-icon {
  transition: all 0.2s ease-out;
  transform: rotate(0 deg);
}
.navbar .navbar-toggler-icon,
.navbar .navbar-toggler-icon::before,
.navbar .navbar-toggler-icon::after {
  width: 1em !important;
  height: 2px !important;
  /* padding: 0 0 0 0.15em !important; */
  display: flex;
  background-image: none;
  background-color: var(--color-white);
  position: absolute !important;
  transition: all 0.2s ease-in;
}
.navbar .navbar-toggler-icon::before {
  content: "";
  display: block;
  top: -0.3em;
}
.navbar .navbar-toggler-icon::after {
  content: "";
  display: block;
  bottom: -0.3em;
}
.navbar .navbar-toggler:focus {
  /* outline: none !important; */
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--color-white) !important;
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px !important;
}
.active-hamburger .navbar-toggler-icon {
  transition: 0.2s;
  transform: rotate(405deg); /*45+360 */
}
.active-hamburger .navbar-toggler-icon::before {
  top: 0;
  opacity: 0;
}
.active-hamburger .navbar-toggler-icon::after {
  transition: 0.2s;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
}
/* hamburger icon */
/* start preloader */

#preloader {
  background-image: url(../image/Spin-2.1s-191px.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */

/* start button up */

#button {
  display: inline-block;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-fourth);
  animation: move-toggs 3s linear infinite;

  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--color-primary);
  }

  i {
    color: var(--color-text);
    margin: auto;
    font-size: 22px;
    transition: 0.3s all;
  }

  &:hover {
    background-color: var(--color-text);
    cursor: pointer;
    i {
      color: var(--color-white);
    }
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move-toggs {
  0% {
    bottom: 40px;
  }

  25% {
    bottom: 20px;
  }

  50% {
    bottom: 10px;
  }

  75% {
    bottom: 20px;
  }

  100% {
    bottom: 40px;
  }
}

/* finish button up  */

//start nav bar

.navbar {
  background-color: var(--color-white);
  transition: 0.25s all ease-in-out;

  .navbar-brand {
    width: 130px;
    height: 121px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      width: 66%;
      justify-content: center;
      .nav-item {
        transition: 0.35s all ease-in;
        position: relative;
        .nav-link {
          font-size: 1.2rem;
          font-family: "regular";
          color: var(--color-text);
          padding-left: 1rem;
          padding-right: 1rem;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.25s all;
          &:hover {
            color: var(--color-secound);
          }
        }
      }

      .nav-item.active {
        .nav-link {
          color: var(--color-primary);
          font-family: "bold";
          transition: 0.25s all ease-in-out;
          &:hover {
            color: var(--color-secound);
          }
        }
      }
    }
    .inquery_btn {
      width: 17%;
      margin-top: 0;
      .first {
        padding: 3% 4%;
        font-size: 1rem;
        font-family: "regular";
        border-radius: 0;
      }
    }
    .dropdown {
      .dropdown-toggle {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        font-family: "regular";
        color: var(--color-text);
      }
      .dropdown-menu {
        min-width: 4rem;
        .dropdown-item {
          font-family: "regular";
          font-size: 0.8rem;
          color: var(--color-text);
        }
      }
    }
  }
}
.navbar.change {
  background-color: rgba($color: #10222e, $alpha: 0.8);
  .navbar-nav {
    width: 100%;
    .nav-item {
      position: relative;

      .nav-link {
        padding-right: 1.8rem;
        padding-left: 1.8rem;
      }
    }
  }
}
//finish navbar

//start hero sec
.hero_section {
  position: relative;
  padding: 5% 0;
  .ball1 {
    position: absolute;
    top: 73px;
    right: 43%;
    img {
      width: 2%;
      height: auto;
    }
  }
  .ball2 {
    position: absolute;
    bottom: 118px;
    right: 25%;
    img {
      width: 2%;
      height: auto;
    }
  }
  .content {
    text-align: start;
    padding-inline-end: 5%;
    h6 {
      color: #707070;
      font-family: "regular";
      font-size: 1rem;
      span {
        color: var(--color-primary);
      }
    }
    h1 {
      font-size: 3.3rem;
      color: var(--color-text);
      font-family: "regular";
      padding: 2% 0 4%;
    }
    p {
      font-size: 1.3rem;
      color: var(--color-pargraph);
      font-family: "regular";
      padding-inline-end: 10%;
    }
    .button {
      justify-content: start;
      .btn {
        width: 50%;
      }
    }
  }
  .img {
    width: 100%;
    height: 350px;
    padding-inline-start: 5%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
//finish hero sec

//printer in success
.printer_section {
  padding: 5% 0;
  .swiper {
    width: 100%;
    height: 200px;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0 2%;
      .img {
        width: 90px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

//printer in success
//service section
.service_section {
  padding: 5% 0;
  background-image: url(../image/back.png);

  background-size: cover;
  .main_title {
    padding: 2% 25%;
  }
  .content {
    h4 {
      font-size: 1.5rem;
      font-family: "bold";
      color: var(--color-text);
    }
    p {
      font-size: 1rem;
      font-family: "regular";
      color: var(--color-pargraph);
      padding: 2% 19%;
      text-align: center;
    }
  }
}

//service section

//counter section
.counter_section{
   padding: 2% 0;
   margin: 4% 0;
  .boxes{
    .box{
          flex-direction: column;
          text-align: center;
        .counter{
          font-size: 2.5rem;
          font-family: "medium";
          color: var(--color-white);
        }
        .head-categ{
          font-size: 1.21rem;
          font-family: "regular";
          color: var(--color-white);
        }
      
    }
  }
}
//counter section
//search service section
.service_search{
  .main_title{
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
     p{
      padding: 2% 0;
      padding-inline-end: 10%;
      text-align: start;
     }
  }
  .title{
    font-size: 1.1rem;
    font-family: "regular";
    color: var(--color-pargraph);
    &::after{
     content: '';
      width: 1px;
      height: 10px;
      position: absolute;
      top: 0;
      right: 0;
      color: var(--color-primary) ;
      background-color: var(--color-primary);
    }
  }
  ul{
    padding: 2% 0;
    li{
      font-size: 1rem;
      font-family: "bold";
      position: relative;
      color: var(--color-text);
    }
  }
}

//search service section
